/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
.page-title h1{
      width: 79vw;
}
    .col-mobile-home-nav{
        display:none;
    }
    .mobile-page-title{
        display:none;
    }


    .full-page-content{
    margin-left: 16%;

  -ms-flex: 0 0 83.333333%;
  flex: 0 0 84%;
  max-width: 84%;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
.page-title h1{
      width: 100%;
    text-align:center;
    padding-right:0 !important;
}
    #page-header{
        position:relative !important;
    }
    .full-page-title{
        display:none;
    }
    .page-scroll{
          width: 100%;
  display: block;

    }


}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint has no upper bound on its width*/
