/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */

body, html{
    min-height:100%;
}
body {
    /*padding-top: 3.5rem;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}
nav{
    z-index:50;
}
button, button:focus {
    outline: none;
}
*{
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.blah{
    outline-color: blue;
}
.landing{
    /*height:100vh;*/
    /*width:100%;*/

    background-color:#d30000;
    z-index:999;
    position: relative;
}

.landing-body{
    background-image:url("../img/landing-bg-design.png");
    background-repeat: no-repeat;
    background-size:contain;
    height:100vh;
    width:100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
}

.landing-logo{
    align-self: center;
    width: 15%;
    min-width: 150px;
    top: 9vh;
    position: relative;
}
.landing-header{
    align-self: center;
    top: 28vh;
    position: relative;


}

.page{
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x: center;
    min-height: 100vh;
}

.work{
    background-image:url("../img/home-bg.jpg");
    background-position-y:25.8vh;

}

.services{
    background-image:url("../img/home-bg.jpg");
    background-position-y:25.8vh;
    height: 100%;
}

.manufacturing{
    background-image:url("../img/home-bg.jpg");
    background-position-y:25.8vh;
}

.brands{
    background-image:url("../img/home-bg.jpg");
    background-position-y:25.8vh;
    margin-top: 1px;

}

.real-estate{
    background-image:url("../img/home-bg.jpg");
    background-position-y:25.8vh;
}


.gertner{
    background-image:url("../img/lorne_gertner.png");
    background-position-y:0;
    background-position-x: 78%;
    margin-bottom: 0;
}

.brands h1{
    margin-top:38px;
}

hr{
    border-top: 5px solid #e80000;
}

/*
 * Typography
 */

h1 {
    padding-top: 11px;
    margin-top: 39px;
    border-top: 1px solid #efc2c2;
    text-align: right;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 24px;
}
h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 5px;
}
p{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 1.3rem;
}

strong{
    font-weight:500 !important;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*border-right: 1px solid #eee;*/
    background-color:#111212;
}

.sidebar .nav {

}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.header-logo {
    background-color:#d30000 !important;
    height:25.8vh;
}

.logo {
    max-width: 293px;
    min-width: 150px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.down-arrow{
    width:100%;

    padding: 35%;
}

.down-arrow-container{
    /*position: absolute;*/
    bottom:35%;
}



.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color:#cbcbcb;
    height: 1px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 20px;
}
.hamburger{
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top:24px;
}


.hamburger-box {
    width: 20px;
}

.hamburger--collapse .hamburger-inner {

    bottom: 7px;
}
.hamburger--collapse .hamburger-inner:after {
    top: -14px;
}

.hamburger-inner:before {
    top: -7px;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.placeholder{
    margin-top: 13px;
    margin-left: 3px;
}

.page-title{
    height:19.6vh;
}
.page-body{

}
/*
* bootstrap overrides
 */
.padding-top-0{
    padding-top:0 !important;
}

.nav {
    background-color:#111212;
}

#navigation ul{
    display:none;
}
#navigation ul, #navigation ul li{
    list-style-type: none;
    /* margin-left: 0; */
    padding-left: 0;
    margin: 0 auto;
    /* width: 84px; */
    text-align: center;
}
#navigation ul li a{
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
}

.col-home-nav{
    flex: 0 0 16%;
    max-width: 16%;
}

.col-home-content{
    flex: 0 0 82.333333%;
    max-width: 82.333333%;
}

.header-back{
    height:25.8vh;
    margin-bottom:-25.8vh;
    background-color: rgba(255,255,255,0.8);
}

.peacock-image {
    float:left;
    margin-right:25px;
}

.landing-title{

    text-transform:uppercase;
    color:#fff;

}
.landing-title > h3{
    font-size:10px;
    padding: 10px 10px 10px 10px;
    border:1px solid #ed1718;
}

.landing-down-arrow{
    width: 20%;
    align-self: center;
}

.landing-arrow{
    text-align: center;
    top: 16vh;
    position: relative;
}

.active{
    /*color: white;*/
    /*background-color: rgba(100,100,100,1);*/
    border-left: thick solid #ed1718;
}
