/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */

body, html{
    min-height:100%;
}
body {
    /*padding-top: 3.5rem;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    width:100vw;
}
nav{
    z-index:50;
}
button, button:focus {
    outline: none;
}
*{
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}











#page-header{



  position:fixed;
  background-color: #fff;
  z-index: 995;
    float:right;

}

.page-content{
      min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center top;
  padding-bottom: 30px;
  padding-top: 30px;
    width:100%;
}
.page-title h1{

  float: right;
}

.gallery-container p{
    color:#000 !important;
}

.page{
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x: center;
    min-height: 100vh;
    height:100%;
    background-color: rgba(89,89,89,0.1);
    margin-left:-1vw;
}







hr{
    border-top: 5px solid #e80000;
}

/*
 * Typography
 */

h1 {
    padding-top: 11px;
    margin-top: 39px;
    border-top: 1px solid #efc2c2;
    text-align: right;
    text-transform: uppercase;

    padding-right: 24px;
}
h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 5px;
}
p{
    font-weight: 400;
    /*font-size: 12px;*/
    line-height: 1.8;
    margin-bottom: 1.3rem;
}

strong{
    font-weight:500 !important;
}

a:link{
    color:#d30000;
}
a:visited{
    color:#d30000;
}
a:hover{
    color:#fff;
}
a:active{
    color:#d30000;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
    /*border-right: 1px solid #eee;*/
    background-color:#111212;
}

.sidebar .nav {

}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}




.header-logo {
    background-color:#d30000 !important;
top:-20px;
    position: relative;
    display:table;
    width:100%;
}

.header-logo a{
      vertical-align: middle;
  position: relative;
  display: table-cell;
}

.logo {
    max-width: 150px;
    display:block;
    /*min-width: 150px;*/
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.down-arrow{
    width:100%;

    padding: 35%;
}

.down-arrow-container{
    /*position: absolute;*/
    bottom:35%;
}



.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color:#cbcbcb;
    height: 1px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 20px;
}
.hamburger{
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top:24px;
}


.hamburger-box {
    width: 20px;
}

.hamburger--collapse .hamburger-inner {

    bottom: 7px;
}
.hamburger--collapse .hamburger-inner:after {
    top: -14px;
}

.hamburger-inner:before {
    top: -7px;
}

/*
 * Dashboard
 */

 /*Placeholders*/
.placeholders {
    padding: 0 20px 0 20px;
}

/*.placeholder img {*/
    /*padding-top: 1.5rem;*/
    /*padding-bottom: 1.5rem;*/
/*}*/

/*.placeholder{*/
    /*margin-top: 3px;*/
    /*margin-left: 3px;*/
/*}*/

/*.page-title{*/
      /*height: 19.9vh;*/
  /*position: relative;*/
  /*right: 0;*/
  /*padding-right: 2%;*/
  /*padding-left: 2%;*/
/*}*/
.page-body{
  /*top: 25.6vh;*/
  position: relative;
}
/*
* bootstrap overrides
 */
/*.padding-top-0{*/
    /*padding-top:0 !important;*/
/*}*/

.nav {
    background-color:#111212;
}

#navigation ul{
    /*display:none;*/
}
#navigation ul, #navigation ul li{
    list-style-type: none;
    /* margin-left: 0; */
    padding-left: 0;
    margin: 0 auto;
    /* width: 84px; */
    text-align: center;
}
#navigation ul li a{
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
}

#mobile-navigation ul{
    display:none;
}
#mobile-navigation ul, #mobile-navigation ul li{
    list-style-type: none;
    /* margin-left: 0; */
    padding-left: 0;
    margin: 0 auto;
    /* width: 84px; */
    text-align: center;
}
#mobile-navigation ul li a{
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
}
ul#mobile-nav-drawer {
  padding-bottom: 28px !important;
}

.mobile-header-logo li{
      text-align: center;
  background-color: #d30000;
}
.page-scroll{
    /*position: absolute;*/
      /*width: 100%;*/
  /*display: block;*/

}
.col-home-nav{
    flex: 0 0 16%;
    max-width: 16%;
    z-index:997;
}

.col-home-content{
    flex: 0 0 82.333333%;
    max-width: 82.333333%;
}

.header-back{

    background-color: rgba(255,255,255,0.8);
}

/*.peacock-image {*/
    /*float:left;*/
    /*margin-right:25px;*/
/*}*/



.active{
    /*color: white;*/
    /*background-color: rgba(100,100,100,1);*/
    border-left: thick solid #ed1718;
}
li.active a {
    margin-left:-5px;
    /*color:#ed1718 !important;*/
    text-decoration: underline;
}

.btn-primary{
color:#fff;
    background-color:#d30000;
    border-color:#d30000;
}

.btn-primary:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
