{% extends "base.html" %}
{% load secure_widgets utilities %}



{% block extra_CSS %}
    <style>
    .page-title{
    height:{{ globals.header_height }}vh;
    }
            .header-logo {
            height: {{ globals.header_height }}vh;
        }
            .page-content{
            top: {{ globals.header_height }}vh;

    }
            @media (min-width: 576px) {
                .page-content{

             margin-top: {{ globals.header_height }}vh;
    }
            }
    @media (max-width: 575px){
    .page-scroll{
          margin-top:-{{ header_height_adjusted }}vh;

    }
    }
    h1{
        font-size: {{ globals.heading_text_size }}px;
        color: {{ globals.heading_text_color }};
    }
    p{
        font-size: {{ globals.body_text_size }}px;
        color: {{ globals.body_text_color }};
    }
    .page-body p{
        font-size: {{ globals.body_text_size }}px;
        color: {{ globals.body_text_color }};
    }

    </style>
{% endblock %}


{% block content %}



    <div id="landing" class="landing">
        <div class="container-fluid">
            <div class="row">
                <div class="landing-body">
                    <div class="landing-logo"><img class="logo" src="/media/img/Hill&Gertner-logo.svg"/></div>
                    <div class="landing-arrow"><img class="landing-down-arrow" src="/media/img/arrow-down.svg"/></div>
                    <div class="landing-header">
                        <div class="landing-title"><h3>a talent-based merchant bank</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="trigger1"></div>

    <nav class="col-home-nav d-none d-sm-block sidebar padding-top-0">

        <div class="header-logo">

                <a href="#"><img class="logo" src="/media/img/Hill&Gertner-logo.svg"/></a>

        </div>
        <ul class="nav nav-pills flex-column">

            <li class="nav-item">
                <button id="nav-toggle" class="hamburger hamburger--collapse is-active" type="button">
                          <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                          </span>
                </button>
                <div id="navigation" class="page-navigation">
                    <!--navigation goes here-->
                    <ul id="nav-drawer">
                        {% for page in pages %}
                            <li><a href="#{{ page.slug }}">{{ page.page_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>

        </ul>

        <ul class="nav nav-pills flex-column down-arrow-container">
            <li class="nav-item">
                <img class="down-arrow" src="/media/img/arrow-down.svg"/>
            </li>

        </ul>


    </nav>

    <nav class="col-mobile-home-nav topbar padding-top-0">

        <ul class="nav flex-column mobile-header-logo">
            <li class="nav-item">
                <a class="nav-link" href="#"><img class="logo" src="/media/img/Hill&Gertner-logo.svg"/></a>
            </li>

        </ul>
        <ul class="nav nav-pills flex-column">

            <li class="nav-item">
                <button id="mobile-nav-toggle" class="hamburger hamburger--collapse" type="button">
                          <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                          </span>
                </button>
                <div id="mobile-navigation">
                    <!--navigation goes here-->
                    <ul id="mobile-nav-drawer">
                        {% for page in pages %}
                            <li><a href="#{{ page.slug }}">{{ page.page_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>

        </ul>




    </nav>

    <div class="container-fluid full-page-title">
        <div class="row">
            <div id="page-header" class="col-12">
                <div class="page-title"><h1>a talent-based merchant bank</h1></div>
            </div>
        </div>
    </div>
    {% for page in pages %}
<style>
.{{ page.slug }} .page-body p{
        font-size: {{ page.body_text_size }}px;
        color: {{ page.body_text_color }};
    }
.{{ page.slug }} .page-body h2{
        font-size: {{ page.heading_text_size }}px;
        color: {{ page.heading_text_color }};
    }
.{{ page.slug }} .page-body h3{
        font-size: {{ page.subheading_text_size }}px;
        color: {{ page.subheading_text_color }};
    }
object{
    width:100%;
    height:100vh;
}
</style>
        <div class="page {{ page.slug }} section">

            <div class="container-fluid">
            <div class="row">
            <div class="col-12  page-title mobile-page-title"><h1>a talent-based merchant bank</h1></div>
            </div>
                <div class="row">

                    <a id="{{ page.slug }}" class="page-scroll"></a>
                    <main role="main" class="page-content full-page-content "
                          style='background-image:url("{% if page.background_image %}{{ page.background_image.url }}{% endif %}");'>




                        <div class="page-body col-md-{% if page.num_columns %}{{ page.num_columns }}{% else %}12{% endif %} col-lg-{% if page.num_columns %}{{ page.num_columns }}{% else %}12{% endif %} col-sm-12" >
                            <section class="{% if page.text_format %}{{ page.text_format }}{% endif %} placeholders">


                                    {% autoescape off %}{{ page.copy }}{% endautoescape %}


                            </section>


                        </div>
                                {% if user.is_authenticated %}
                                {% for protected_page in page.protectedpage_set.all|cleanup_pages %}
                                {% if protected_page.heading %}
                                    <div class="row">
                                    <div class="page-body col-md-12 col-lg-12 col-sm-12 {{ protected_page.type }}" >
                                    <section class=" placeholders">

                                    {% if protected_page.type == "pdf" %}
                                        <object data="{% if protected_page.pdf %}{{ protected_page.pdf.url }}{% endif %}" type="application/pdf" >
                                            alt : <a href="{% if protected_page.pdf %}{{ protected_page.pdf.url }}{% endif %}">{{ protected_page.page_name }}</a>
                                        </object>
                                    {% elif protected_page.type == "gallery" %}
                                        {% image_gallery protected_page %}
                                    {% endif %}

                                    </section>
                                    </div>
                                    </div>
                                    <hr />
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                    {% if page.protectedpage_set.all|cleanup_pages %}

                                    <div class="page-body col-md-12 col-lg-12 col-sm-12" >
                                    <section class=" placeholders">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
  LOGIN
</button>
                                    </section>
                                    </div>

                    {% endif %}
                    {% endif %}


                    </main>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}



