{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <title>{{ site_title }}</title>
{{ static }}
    <!-- Bootstrap core CSS -->
    <link href="/media/css/glyphicons.css" rel="stylesheet">
    <link href="/media/css/normalize.css" rel="stylesheet">
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/css/hamburgers.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/login.css" rel="stylesheet">
    <link href="/media/css/landing.css" rel="stylesheet">
    <link href="/media/css/main.css" rel="stylesheet">
    <link href="/media/css/breaks.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link href="/media/css/fluid-gallery.css" rel="stylesheet">
<style>
    .btn-primary{
            background-color:{{ prime_color }};
    border-color:{{ prime_color }};
    }
    .header-logo {
        background-color: {{ prime_color }} !important;
    }
    .mobile-header-logo li {

        background-color: {{ prime_color }};
    }
    a:link{
    color:{{ prime_color }};
}
a:visited{
    color:{{ prime_color }};
}
a:hover{
    color:#fff;
}
a:active{
    color:{{ prime_color }};
}

    .active{
    /*color: white;*/
    /*background-color: rgba(100,100,100,1);*/
    border-left: thick solid {{ prime_color }};
}
</style>
    {% block extra_CSS %}{% endblock %}
</head>

<body>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form method="post" action="{% url 'login' %}">
          <formgroup>
          <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

    {% csrf_token %}
    <p><label for="id_username" class="col-form-label">Username:</label> <input class="form-control"  id="id_username" type="text" name="username" maxlength="30" /></p>
    <p><label for="id_password" class="col-form-label">Password:</label> <input class="form-control" type="password" name="password" id="id_password" /></p>


    <input type="hidden" id="pageId" name="next" value="/front" />



        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Login" />
      </div>
              </formgroup>
        </form>
    </div>
  </div>
</div>

{% block content %}{% endblock %}



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/media/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="/media/js/vendor/popper.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/vendor/greensock/TweenMax.min.js"></script>
<script src="/media/js/vendor/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="/media/js/vendor/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
<script src="/media/js/vendor/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="/media/js/main.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>
